<!DOCTYPE html>
<html>
<head>
	{% block head %}
		<link rel="stylesheet" href="{{ constant('APP_PATH_WEBPACK') }}css/bundle.css" />
		<script type="text/javascript" src="{{ constant('APP_PATH_WEBPACK') }}js/bundle.js"></script>
		<script type="text/javascript" src="{{ constant('APP_PATH_JS') }}Libraries/bundle.js"></script>
		<script type="text/javascript" src="{{ constant('APP_PATH_JS') }}base.js"></script>
		<script type="text/javascript" src="{{ constant("JS_PATH_1") }}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.1/js/jquery.tablesorter.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0/dist/chartjs-plugin-datalabels.min.js"></script>
		
		<script type="text/javascript">
			var APP_PATH_WEBROOT = "{{ constant("APP_PATH_WEBROOT") }}";
			var SCREENING_LOG_DATA_AJAX_URL = "{{ constant("SCREENING_LOG_DATA_AJAX_URL")|raw }}";
			var ENROLLMENT_CHART_DATA_AJAX_URL = "{{ constant("ENROLLMENT_CHART_DATA_AJAX_URL")|raw }}";
			
			// set chart.js datalabels plugin options globally
			Chart.helpers.merge(Chart.defaults.global.plugins.datalabels, {
				align: 'top',
				anchor: 'end',
				font: {size: "16"}
			});
		</script>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
		{% if(constant("CSS_PATH_1")) %}
		<link rel="stylesheet" href="{{ constant("CSS_PATH_1") }}" />
		{% endif %}
		
		<title>{% block title %}REVERSE LC Dashboard{%  endblock %}</title>
	{% endblock %}
</head>
<body>

<header class="text-center py-4">
  <img src="{{ constant("LOGO_LINK") }}" alt="REVERSE LC" class="img-fluid logo">
</header>

<div class="container-xxl card shadow d-flex justify-content-center">
	{% block content %}{% endblock %}
</div>
<div>
	{% block footer %}
	{% endblock %}
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>

</body>
</html>