{% extends "base.twig" %}

{% block content %}


<ul class="nav nav-fill nav-tabs nav-pills mb-3" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="tab1-tab" data-bs-toggle="tab" data-bs-target="#allSitesData" type="button" role="tab" aria-controls="tab1" aria-selected="true">
		<i class="fas fa-home"></i>
		Enrollment Statistics
		</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="tab2-tab" data-bs-toggle="tab" data-bs-target="#mySiteData" type="button" role="tab" aria-controls="tab2" aria-selected="false">
		My Site's Metrics
		</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="tab3-tab" data-bs-toggle="tab" data-bs-target="#screening" type="button" role="tab" aria-controls="tab3" aria-selected="false">
		Screening
		</button>
    </li>
	<li class="nav-item" role="presentation">
      <button class="nav-link" id="tab4-tab" data-bs-toggle="tab" data-bs-target="#links" type="button" role="tab" aria-controls="tab4" aria-selected="false">
		Helpful Links
		</button>
    </li>
	<li class="nav-item" role="presentation">
      <button class="nav-link" id="tab5-tab" data-bs-toggle="tab" data-bs-target="#activation" type="button" role="tab" aria-controls="tab5" aria-selected="false">
		Site Activation
		</button>
    </li>
</ul>
<div class="tab-content mt-3">
	<div class="tab-pane fade show active" id="allSitesData" role="tabpanel" aria-labelledby="tab1-tab">
		<div class="row">
			<div class="col-12">
				<table class="table table-striped table-bordered">
					<thead class="bg-secondary">
						<tr>
							<th></th>
							<th>Site Activation Date</th>
							<th>FPE</th>
							<th>LPE</th>
							<th>Screened</th>
							<th>Eligible</th>
							<th>Randomized</th>
							<th>Treated</th>
							<th>Baricitinib</th>
						</tr>
					</thead>
					<tbody>
						<tr class="first_row">
							<td>Entire Project</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						{% for totalDetails in allSites["totals"] %}
							<tr>
								<td>{{ totalDetails["name"] }}</td>
								<td>-</td>
								<td>{{ totalDetails["fpe"] }}</td>
								<td>{{ totalDetails["lpe"] }}</td>
								<td>{{ totalDetails["screened"] }}</td>
								<td>{{ totalDetails["eligible"] }}</td>
								<td>{{ totalDetails["randomized"] }}</td>
								<td>{{ totalDetails["treated"] }}</td>
								<td>{{ totalDetails["baricitinib"] }}</td>
							</tr>
						{% endfor %}
						<tr class="first_row">
							<td>By Site</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						{% for siteDetails in allSites["sites"] %}
							<tr data-dag="{{ siteDetails["dag"] }}" data-locality="{{ siteDetails['locality'] }}">
								<td>{{ siteDetails["name"] }}</td>
								<td>{{ siteDetails["open_date"] }}</td>
								<td>{{ siteDetails["fpe"] }}</td>
								<td>{{ siteDetails["lpe"] }}</td>
								<td>{{ siteDetails["screened"] }}</td>
								<td>{{ siteDetails["eligible"] }}</td>
								<td>{{ siteDetails["randomized"] }}</td>
								<td>{{ siteDetails["treated"] }}</td>
								<td>{{ siteDetails["baricitinib"] }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{# chart #}
			<div class="col-12 chart-container d-flex align-items-center justify-content-center" style="position: relative; height: 72vh;">
				<canvas id="enrollment_chart"></canvas>
			</div>
		</div>
	</div>
	<div class="tab-pane fade" id="mySiteData" role="tabpanel" aria-labelledby="tab2-tab">
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					{% if authorized == '3' %}
						<th>Record</th>
						<th>Site</th>
					{% else %}
						<th>{{ mySite["site_name"] }}</th>
					{% endif %}
					<th>Sex</th>
					<th>Race</th>
					<th>Enrolled</th>
					<th>Treated</th>
				</tr>
			</thead>
			<tbody>
			{% for personDetails in mySite["rows"] %}
				<tr>
					<td>{{ personDetails["id"] }}</td>
					{% if authorized == '3' %}
						<td>{{ personDetails["site"] }}</td>
					{% endif %}
					<td>{{ personDetails["sex"] }}</td>
					<td>{{ personDetails["race"] }}</td>
					<td>{{ personDetails["enrolled"] }}</td>
					<td>{{ personDetails["treated"] }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="tab-pane fade" id="screening" role="tabpanel" aria-labelledby="tab3-tab">
		{% include 'screening.twig' %}
	</div>
	<div class="tab-pane fade" id="links" role="tabpanel" aria-labelledby="tab4-tab">
		<button class="close-folder btn btn-info mb-2">Return to folders</button>
		<div class="row p-3 links">
			{% for link in helpfulLinks %}
				<div class="card col-4" data-folder-index="{{ link.folder_index }}">
					<div class="card-body">
						<h5 class="card-title">
							<span class="badge btn-info rounded-circle p-3">
								#{{ loop.index }}
							</span>
							{{ link.display }}
						</h5>
						<p class="card-text">
							<a href="{{ link.url }}"class="btn btn-primary">Go to Link</a>
						</p>	
						<button class="copyBtn btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Copy URL to Clipboard">
							<img src="{{ clipboardImageSource }}" alt="Clipboard Icon" width="20" height="20" class="me-2">
							Copy URL to Clipboard
						</button>
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="row mb-4 g-4 folders" style="justify-content: center;">
			{% for folder in helpfulLinkFolders %}
				<div class="col-2 folder"  data-index="{{ loop.index }}">
					<div class="card" style="
							background: {{folder.color}} url({{ folderImageSource }});
							background-size: 99%;
							background-position: center;
							background-repeat: no-repeat;
							height:250px;	
						">
						<div class="card-body d-flex align-items-center justify-content-center">
							<h6 class="card-title text-center">{{ folder.name }} <br> {{ folder.linkCount }} Links </h6>
						</div>
					</div>
				</div>
			{% endfor %}
			{% if helpfulLinkFolders is empty %}
				<h3>There are no links to show at the moment</h3>
				<small>Check back soon to find a list of helpful resources!</small>
			{% endif %}
		</div>
	</div>
	<div class="tab-pane fade" id="activation" role="tabpanel" aria-labelledby="tab5-tab">
		<div id="activation_sites">
			{% for error in siteStartupData.errors %}
				{% if not error.dag %}
					<div class="errors_without_dag alert alert-{{ error.class }}" role="alert">
						{{ error.text }}
					</div>
				{% endif %}
			{% endfor %}
			<div class="row">
				<div class="dropdown active-site-select mb-3">
					<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
						Select a site
					</button>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						{% for site in siteStartupData.sites %}
						<li><a class="dropdown-item" href="#">{{ site.site_number }} - {{ site.record_id }}</a></li>
						{% endfor %}
					</ul>
				</div>
				{% if siteCompletionData %}
					<button class="btn btn-primary active-site-select" style="margin-left:30px" onclick="$('#activation_completion_report').show();$('#activation_sites').hide();">View Site Completion Report</button>
				{% endif %}
			</div>
			<div class="row">
				{% for site in siteStartupData.sites %}
				<div data-rid="{{ site.record_id }}" class="activation-container">
					{% for error in siteStartupData.errors %}
						{% if error.dag == site.redcap_data_access_group %}
							<div class="alert alert-{{ error.class }}" role="alert">
								{{ error.text }}
							</div>
						{% endif %}
					{% endfor %}
					<h2>{{ site.site_number }} - {{ site.record_id }}</h2>
					<p>Vanguard: <b>{{ site.selected_vanguard }}</b>&nbsp;&nbsp;&nbsp;&nbsp;Biomarker: <b>{{ site.site_selected_biomarker }}</b></p>
					<div class="ref_fields">
						<span data-field-name="cv_review_vcc">{{ site.cv_review_vcc }}</span>
						<span data-field-name="doa_vcc_review">{{ site.doa_vcc_review }}</span>
						<span data-field-name="license_review_vcc">{{ site.license_review_vcc }}</span>
						<span data-field-name="fin_dis_review_vcc">{{ site.fin_dis_review_vcc }}</span>
						<span data-field-name="handwrite_review_vcc">{{ site.handwrite_review_vcc }}</span>
						<span data-field-name="gcp_review_vcc">{{ site.gcp_review_vcc }}</span>
						<span data-field-name="citi_review_vcc">{{ site.citi_review_vcc }}</span>
						<span data-field-name="train_review_vcc">{{ sitetrain_review_vcccv_review_vcc }}</span>
					</div>
					<table class="table activation-tables">
						<tr>
							<td></td>
							<td></td>
							<td>Site Status for Category</td>
							<td>sIRB Survey Sent</td>
							<td>sIRB Survey Received</td>
							<td>sIRB Survey Accepted and Part 2 provided</td>
							<td>sIRB Survey Accepted and Part 2 provided</td>
							<td>Part 2 ICD Received Back from Site</td>
							<td>Part 2 ICD Reviewed by VCC</td>
							<td>Part 2 ICD Approved by VCC</td>
							<td>Institutional Profile Complete</td>
							<td>HRP Survey Complete</td>
							<td>PI Survey Complete</td>
							<td>sIRB Site Add Ready</td>
							<td>sIRB Site Add</td>
						</tr>
						<tr class="data">
							<td></td>
							<td>sIRB Status</td>
							<td>{{ site.sirb_status }}</td>
							<td>{{ site.vcc_survey_sent }}</td>
							<td>{{ site.vcc_survey_received }}</td>
							<td>{{ site.vcc_survey_accepted }}</td>
							<td>{{ site.vcc_survey_accepted }}</td>
							<td>{{ site.vcc_pt2_received }}</td>
							<td>{{ site.vcc_pt2_reviewed }}</td>
							<td>{{ site.vcc_pt2_approved }}</td>
							<td>{{ site.institutional_profile_complete }}</td>
							<td>{{ site.hrp_agreement }}</td>
							<td>{{ site.pi_survey }}</td>
							<td>{{ site.site_add_ready }}</td>
							<td>{{ site.site_add }}</td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td>Template Sent</td>
							<td>Partially Executed</td>
							<td>Fully Executed</td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
						</tr>
						<tr class="data">
							<td></td>
							<td>Contract</td>
							<td>{{ site.sirb_status_2 }}</td>
							<td>{{ site.template_sent }}</td>
							<td>{{ site.contract_pe }}</td>
							<td>{{ site.contract_fe }}</td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td>1572</td>
							<td>IB Acknowledgement</td>
							<td>Laboratory Documents</td>
							<td>Protocol Signature Page</td>
							<td>sIRB Approval</td>
							<td>Site Address/Contact Information</td>
							<td>User Access Form</td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
						</tr>
						<tr class="data">
							<td></td>
							<td>Site Documents</td>
							<td>{{ site.ctom_site_docs_approve }}</td>
							<td>{{ site.doc_1572 }}</td>
							<td>{{ site.ib_ack }}</td>
							<td>{{ site.lab_docs }}</td>
							<td>{{ site.psp_signed }}</td>
							<td>{{ site.sirb_approved }}</td>
							<td>{{ site.site_info_confirm }}</td>
							<td>{{ site.ua_received }}</td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td class="null"></td>
							<td>CV</td>
							<td>DOA</td>
							<td>License</td>
							<td>Financial Disclosure</td>
							<td>Handwriting Profile</td>
							<td>Good Clinical Practice Training</td>
							<td>Human Subjects Protection Training</td>
							<td>Site Related Training</td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
						</tr>
						<tr class="data">
							<td></td>
							<td>PI Documents</td>
							<td class="null"></td>
							<td class="{{ site.pi.cv.class }}">{{ site.pi.cv.value }}</td>
							<td class="{{ site.pi.doa.class }}">{{ site.pi.doa.value }}</td>
							<td class="{{ site.pi.license.class }}">{{ site.pi.license.value }}</td>
							<td class="{{ site.pi.fdf.class }}">{{ site.pi.fdf.value }}</td>
							<td class="{{ site.pi.hand_prof.class }}">{{ site.pi.hand_prof.value }}</td>
							<td class="{{ site.pi.gcp.class }}">{{ site.pi.gcp.value }}</td>
							<td class="{{ site.pi.hsp.class }}">{{ site.pi.hsp.value }}</td>
							<td class="{{ site.pi.training.class }}">{{ site.pi.training.value }}</td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td class="null"></td>
							<td>CV</td>
							<td>DOA</td>
							<td>License</td>
							<td>Financial Disclosure</td>
							<td>Handwriting Profile</td>
							<td>Good Clinical Practice Training</td>
							<td>Human Subjects Protection Training</td>
							<td>Site Related Training</td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
						</tr>
						<tr class="data">
							<td></td>
							<td>Primary Coordinator</td>
							<td class="null"></td>
							<td class="{{ site.primary_coordinator.cv.class }}">{{ site.primary_coordinator.cv.value }}</td>
							<td class="{{ site.primary_coordinator.doa.class }}">{{ site.primary_coordinator.doa.value }}</td>
							<td class="{{ site.primary_coordinator.license.class }}">{{ site.primary_coordinator.license.value }}</td>
							<td class="{{ site.primary_coordinator.fdf.class }}">{{ site.primary_coordinator.fdf.value }}</td>
							<td class="{{ site.primary_coordinator.hand_prof.class }}">{{ site.primary_coordinator.hand_prof.value }}</td>
							<td class="{{ site.primary_coordinator.gcp.class }}">{{ site.primary_coordinator.gcp.value }}</td>
							<td class="{{ site.primary_coordinator.hsp.class }}">{{ site.primary_coordinator.hsp.value }}</td>
							<td class="{{ site.primary_coordinator.training.class }}">{{ site.primary_coordinator.training.value }}</td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td class="null"></td>
							<td>CV</td>
							<td>DOA</td>
							<td>License</td>
							<td class="null"></td>
							<td class="null"></td>
							<td>Good Clinical Practice Training</td>
							<td>Human Subjects Protection Training</td>
							<td>Site Related Training</td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
						</tr>
						<tr class="data">
							<td></td>
							<td>Pharmacist</td>
							<td class="null"></td>
							<td class="{{ site.primary_dispensing_pharmacist.cv.class }}">{{ site.primary_dispensing_pharmacist.cv.value }}</td>
							<td class="{{ site.primary_dispensing_pharmacist.doa.class }}">{{ site.primary_dispensing_pharmacist.doa.value }}</td>
							<td class="{{ site.primary_dispensing_pharmacist.license.class }}">{{ site.primary_dispensing_pharmacist.license.value }}</td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="{{ site.primary_dispensing_pharmacist.gcp.class }}">{{ site.primary_dispensing_pharmacist.gcp.value }}</td>
							<td class="{{ site.primary_dispensing_pharmacist.hsp.class }}">{{ site.primary_dispensing_pharmacist.hsp.value }}</td>
							<td class="{{ site.primary_dispensing_pharmacist.training.class }}">{{ site.primary_dispensing_pharmacist.training.value }}</td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
						</tr>
						<tr class="data">
							<td></td>
							<td>Site Activated</td>
							<td>{{ site.start_to_finish_duration }}</td>
							<td>{{ site.open_date }}</td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
						</tr>
					</table>
				</div>
				{% endfor %}
			</div>
		</div>
		{% if siteCompletionData %}
		<div id="activation_completion_report" style="display:none">
			<div class="row">
				<button class="btn btn-primary" style="margin:10px" onclick="$('#activation_completion_report').hide();$('#activation_sites').show();">Return to Site Details</button>
			</div>
			<table class='dashboard sortable'>
				<thead>
					<tr>
						<th>Site</th>
						{% for area,areaDetails in siteCompletionData|first %}
							<th>{{ area }}</th>
						{% endfor %}
						<th>Total Completion</th>
					</tr>
				</thead>
				<tbody>
					{% for siteName,thisSite in siteCompletionData %}
						<tr>
							{% set totalPercent = 0 %}
							<td>{{ siteName }}</td>
							{% for thisArea in thisSite %}
								{% set totalPercent = totalPercent + thisArea["percent"] %}
								<td>{{ thisArea["percent"] }}%</td>
							{% endfor %}
							<td>{{ (totalPercent / thisSite|length)|round }}%</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		{% endif %}
	</div>
</div>


{# enrollment chart js script below: #}
<script>
	var week_labels = ['{{  enrollmentChart.rows|column(0)|slice(0,-1)|join("','")|raw }}'];
	var data1 = [{{  enrollmentChart.rows|column(1)|slice(0,-1)|join(",")|raw }}];
	var data2 = [{{  enrollmentChart.rows|column(2)|slice(0,-1)|join(",")|raw }}];
	var emptyData = Array(data2.length).fill('');

	var ctx = document.getElementById('enrollment_chart').getContext('2d');

	var colors = [
		'rgb(125,180,216)',
		'rgb(34,136,171)',
		'rgb(36,167,162)',
		'rgba(140,246,192)',
		'rgb(154,161,184)'
	];
	function calculate(i) {
		return (data1[i] / data2[i] * 100)
	}
	var enrollment_chart = new Chart(ctx, {
		type: 'bar',
		data: {
			labels: week_labels,
			datasets: [
				{
					label: 'Participants Enrolled',
					data: data1,
					borderColor: 'rgba(13, 127, 133, 1)',
					borderWidth: 2,
					type: 'line',
					datalabels: {
						anchor: 'center',
					}
				},
				{% for label in randArmLabels %}
				{
					label: '{{ label }}',
					data: [{{ enrollmentChart.rows|column(3)|slice(0,-1)|column(label)|join(',') }}],
					backgroundColor: colors[{{ loop.index0 }}],
					borderWidth: 1,
					barPercentage: 1,
					datalabels: {
						display: false
					},
					stack: 1
				},
				{% endfor %}
			]
		},
		options: {
			title: {
				display: true,
				fontSize: 24,
				fontStyle: 'normal',
				text: 'Enrollments By Week'
			},
			scales: {
				xAxes: [{
						stacked: true
					}],
				yAxes: [{
					stacked: true,
					ticks: {
						beginAtZero: true
					}
				}]
			},
			tooltips:{
				mode: 'label',
				callbacks: {
					label: function(tooltipItem, data) {
						var dataset = data.datasets[tooltipItem.datasetIndex];
						// console.log(dataset);
						var arm = dataset.label;
						var total = dataset.data[tooltipItem.index];
						var cumulative = 0;
						for (var i = 1; i <= tooltipItem.datasetIndex;i++) {
							if (enrollment_chart.isDatasetVisible(i) && data.datasets[i].data[tooltipItem.index] !== undefined) {
								cumulative += data.datasets[i].data[tooltipItem.index];
							}
						}
						// var cumulative = data2[tooltipItem.index];
						var lastVisible = data.datasets.length - 1;
						for (var i = data.datasets.length - 1; i >= 0 ;i--) {
							if (enrollment_chart.isDatasetVisible(i)) {
								lastVisible = i;
								break;
							}
						}
						// If it is not the last dataset, you display it as you usually do
						if (tooltipItem.datasetIndex != lastVisible) {
							if (total === undefined) {
								return '';
							}
							return arm + " : " + total;
						} else { // .. else, you display the dataset and the total, using an array
							if (total === undefined) {
								return "Cumulative Enrollments : " + cumulative;
							}
							return [arm + " : " + total, "Cumulative Enrollments : " + cumulative];
						}
					}
				}
			},
			legend: {
				labels: {
					filter: function(item, chart) {
						// Logic to remove a particular legend item goes here
						return !item.text.includes('Cumulative Enrollments');
					}
				},
				// onClick: {} //disable default legend click behavior
			},
			responsive: true,
			responsiveAnimationDuration: 50,
			maintainAspectRatio: false
		}
	});
	{# TODO Keep cumulative dataset but completely hide it from the user apart from in tooltips. #}
	// function chartOnClick(event, legendItem) {
	// 	console.log(event, legendItem);
	// 	let chart = enrollment_chart;
	// 	const points = chart.getElementsAtEventForMode(event, 'nearest', {}, true);
	// 	console.log(points);
	// 	//
	// 	if (points.length) {
	// 		const firstPoint = points[0];
	// 		//var label = myChart.data.labels[firstPoint.index];
	// 		//var value = myChart.data.datasets[firstPoint.datasetIndex].data[firstPoint.index];
	// 		let datasetIndex = firstPoint.datasetIndex, index = firstPoint.index;
	//
	// 		if (firstPoint.element.hidden != true) {
	// 			chart.hide(datasetIndex, index);
	// 		} else {
	// 			chart.show(datasetIndex, index);
	// 		}
	// 	}
	// }
</script>
{% endblock %}