{% extends "base.twig" %}

{% block content %}

<div id="tabs" style="width:100%; float:left; margin-top:5px;">
	<div class='row'>
		<div id="event-tabs" style="background-color:#ffffff; margin-left:0px;text-align:left">
			<a class="tab active" id="allSitesData-button" onclick="activateTab('allSitesData');">
				<div class='top-border'></div>
				<div class='name'><b>Enrollment Statistics</b></div>
			</a>
			<a class="tab nonactive" id="mySiteData-button" onclick="activateTab('mySiteData');">
				<div class='top-border'></div>
				<div class='name'><b>My Site's Metrics</b></div>
			</a>
			<a class="tab nonactive" id="screening-button" onclick="activateTab('screening');">
				<div class='top-border'></div>
				<div class='name'><b>Screening</b></div>
			</a>
			<a class="tab nonactive" id="links-button" onclick="activateTab('links');">
				<div class='top-border'></div>
				<div class='name'><b>Helpful Links</b></div>
			</a>
			<a class="tab nonactive" id="activation-button" onclick="activateTab('activation');">
				<div class='top-border'></div>
				<div class='name'><b>Site Activation</b></div>
			</a>
		</div>
	</div>
	{#<div class='row' style="height:1px"></div>#}
	<div id="allSitesData" class="row">
		<div class="blue_bar col-12"></div>
		<div>
			<div class="dropdown p-2">
				<button class="btn btn-primary dropdown-toggle" type="button" id="site_locality_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Site Locality: Global
				</button>
				<div class="dropdown-menu" aria-labelledby="site_locality_dropdown">
					<a class="dropdown-item locality-dd-item" href="#">Global</a>
					<a class="dropdown-item locality-dd-item" href="#">Domestic</a>
					<a class="dropdown-item locality-dd-item" href="#">International</a>
				</div>
			</div>
		</div>
		<div class="row" style="width: 100%;">
			<div class="col-6 has_enrollment_table">
				<table class="dashboard">
					<thead>
						<tr>
							<th></th>
							<th>Site Activation Date</th>
							<th>FPE</th>
							<th>LPE</th>
							<th>Screened</th>
							<th>Eligible</th>
							<th>Randomized</th>
							<th>Treated</th>
						</tr>
					</thead>
					<tbody>
						<tr class="first_row">
							<td>Entire Project</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						{% for totalDetails in allSites["totals"] %}
							<tr>
								<td>{{ totalDetails["name"] }}</td>
								<td>-</td>
								<td>{{ totalDetails["fpe"] }}</td>
								<td>{{ totalDetails["lpe"] }}</td>
								<td>{{ totalDetails["screened"] }}</td>
								<td>{{ totalDetails["eligible"] }}</td>
								<td>{{ totalDetails["randomized"] }}</td>
								<td>{{ totalDetails["treated"] }}</td>
							</tr>
						{% endfor %}
						<tr class="first_row">
							<td>By Site</td>
							<td>(Domestic)</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						{% for siteDetails in allSites["domestic_sites"] %}
							<tr data-dag="{{ siteDetails["dag"] }}" data-locality="{{ siteDetails['locality'] }}">
								<td>{{ siteDetails["name"] }}</td>
								<td>{{ siteDetails["open_date"] }}</td>
								<td>{{ siteDetails["fpe"] }}</td>
								<td>{{ siteDetails["lpe"] }}</td>
								<td>{{ siteDetails["screened"] }}</td>
								<td>{{ siteDetails["eligible"] }}</td>
								<td>{{ siteDetails["randomized"] }}</td>
								<td>{{ siteDetails["treated"] }}</td>
							</tr>
						{% endfor %}
						<tr class="first_row">
							<td>By Site</td>
							<td>(International)</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						{% for siteDetails in allSites["international_sites"] %}
							<tr data-dag="{{ siteDetails["dag"] }}" data-locality="{{ siteDetails['locality'] }}">
								<td>{{ siteDetails["name"] }}</td>
								<td>{{ siteDetails["open_date"] }}</td>
								<td>{{ siteDetails["fpe"] }}</td>
								<td>{{ siteDetails["lpe"] }}</td>
								<td>{{ siteDetails["screened"] }}</td>
								<td>{{ siteDetails["eligible"] }}</td>
								<td>{{ siteDetails["randomized"] }}</td>
								<td>{{ siteDetails["treated"] }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{# chart #}
			<div class="col-6 chart-container" style="position: relative; height: 72vh; width: 50vw">
				<canvas id="enrollment_chart"></canvas>
			</div>
		</div>
	</div>
	<div id="mySiteData">
		<table class="dashboard sortable">
			<thead>
				<tr>
					{% if authorized == '3' %}
						<th>Record</th>
						<th>Site</th>
					{% else %}
						<th>{{ mySite["site_name"] }}</th>
					{% endif %}
					<th>Sex</th>
					<th>Race</th>
					<th>Enrolled</th>
					<th>Treated</th>
				</tr>
			</thead>
			<tbody>
			{% for personDetails in mySite["rows"] %}
				<tr>
					<td>{{ personDetails["id"] }}</td>
					{% if authorized == '3' %}
						<td>{{ personDetails["site"] }}</td>
					{% endif %}
					<td>{{ personDetails["sex"] }}</td>
					<td>{{ personDetails["race"] }}</td>
					<td>{{ personDetails["enrolled"] }}</td>
					<td>{{ personDetails["treated"] }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	<div id="screening">
		{# blue bar #}
		<div class="blue_bar"></div>
		{# green title bar #}
		<div class="report_title_bar"><span id="report_title"></span></div>
		<div class="buttons">
			<button onclick="showReport('screening_log')" class="report_switch">Screening Log Report</button>
			<button onclick="showReport('exclusion')" class="report_switch">Exclusion Report</button>
			<button onclick="showReport('screen_fail')" class="report_switch">Screening Fail Report</button>
		</div>
		<div class="screening_report" id="screening_log">
			<div class="row">
				<div class="col-6">
					{# dropdown #}
					<select name="site" id="site">
						<option>Choose institution</option>
						{% for site_name in site_names %}
						<option>{{ site_name }}</option>
						{% endfor %}
					</select>
					
					{# table #}
					<table class="dashboard">
						<thead>
							<tr>
								<th>Week</th>
								<th>Sum of Prescreened</th>
								<th>Cumulative Prescreened</th>
							</tr>
						</thead>
						<tbody>
						{% for row in screeningLog.rows %}
							<tr>
								<td>{{ row.0 }}</td>
								<td>{{ row.1 }}</td>
								<td>{{ row.2 }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
					<button class="main_page" onclick="activateTab('screening');">Return to Main Page</button>
				</div>
				{# chart #}
				<div class="col-6">
					<canvas id="screening_log_chart" width="400" height="400"></canvas>
					<script>
						var week_labels = [
							{% for row in screeningLog.rows|slice(0,-1) %}
								'{{ row.0 }}',
							{% endfor %}
						];
						var data1 = [
							{% for row in screeningLog.rows|slice(0,-1) %}
								{{ row.1 }},
							{% endfor %}
						];
						var data2 = [
							{% for row in screeningLog.rows|slice(0,-1) %}
								{{ row.2 }},
							{% endfor %}
						];
						var ctx = document.getElementById('screening_log_chart').getContext('2d');
						var screening_log_chart = new Chart(ctx, {
							type: 'bar',
							data: {
								labels: week_labels,
								datasets: [{
									label: 'Participants Screened',
									data: data1,
									{# backgroundColor: 'rgba(255, 99, 132, 0.2)', #}
									borderColor: 'rgba(13, 127, 133, 1)',
									borderWidth: 2,
									type: 'line',
									datalabels: {
										anchor: 'center'
									}
								},{
									label: 'Cumulative Screened',
									data: data2,
									backgroundColor: 'rgba(180, 199, 231, 1)',
									borderWidth: 1,
									datalabels: {
										offset: 12
									}
								}]
							},
							options: {
								title: {
									display: true,
									fontSize: 24,
									fontStyle: 'normal',
									text: 'Participant Screening'
								},
								scales: {
									yAxes: [{
										ticks: {
											beginAtZero: true
										}
									}]
								}
							}
						});
					</script>
				</div>
			</div>
		</div>
		<div class="screening_report" id="exclusion">
			<div class="row">
				<div class="col-6">
					{# table #}
					<table class="dashboard">
						<thead>
							<tr>
								<th>Criteria</th>
								<th>Description</th>
								<th>Count</th>
							</tr>
						</thead>
						<tbody>
						{% for row in exclusion.rows %}
							<tr>
								<td>{{ row.0 }}</td>
								<td>{{ row.1 }}</td>
								<td>{{ row.2 }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
					<button class="main_page" onclick="activateTab('screening');">Return to Main Page</button>
				</div>
				{# chart #}
				<div class="col-6">
					<canvas id="exclusion_chart" width="400" height="300"></canvas>
					<script>
						var excl_labels = [
							{% for row in exclusion.rows %}
								'{{ row.0 }}',
							{% endfor %}
						];
						var exclusion_counts = [
							{% for row in exclusion.rows %}
								{{ row.2 }},
							{% endfor %}
						];
						var exclusion_sum = 0;
						exclusion_counts.forEach(function(count) {exclusion_sum = exclusion_sum + count;});
						
						var ctx_excl = document.getElementById('exclusion_chart').getContext('2d');
						var exclusion_chart = new Chart(ctx_excl, {
							type: 'bar',
							data: {
								labels: excl_labels,
								datasets: [{
									label: 'Participants Excluded',
									data: exclusion_counts,
									borderColor: 'rgba(13, 127, 133, 1)',
									backgroundColor: 'rgba(13, 127, 133, 1)',
									borderWidth: 1
								}]
							},
							options: {
								title: {
									display: true,
									fontSize: 24,
									fontStyle: 'normal',
									text: 'Total Excluded; n=' + exclusion_sum
								},
								scales: {
									xAxes: [{
										ticks: {
											fontColor: '#8c4cbc',
											fontSize: 18,
											fontStyle: 'bold'
										}
									}],
									yAxes: [{
										ticks: {
											beginAtZero: true
										}
									}]
								}
							}
						});
					</script>
				</div>
			</div>
		</div>
		<div class="screening_report" id="screen_fail">
			<div class="row">
				<div class="col-6">
					{# table #}
					<table class="dashboard">
						<thead>
							<tr>
								<th>Criteria</th>
								<th>Description</th>
								<th>Count</th>
							</tr>
						</thead>
						<tbody>
						{% for row in screenFail.rows %}
							<tr>
								<td>{{ row.0 }}</td>
								<td>{{ row.1 }}</td>
								<td>{{ row.2 }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
					<button class="main_page" onclick="activateTab('screening');">Return to Main Page</button>
				</div>
				{# chart #}
				<div class="col-6">
					<canvas id="screen_fail_chart" width="400" height="300"></canvas>
					<script>
						var fail_labels = [
							{% for row in screenFail.rows %}
								'{{ row.0 }}',
							{% endfor %}
						];
						var fail_counts = [
							{% for row in screenFail.rows %}
								{{ row.2 }},
							{% endfor %}
						];
						var fail_sum = 0;
						fail_counts.forEach(function(count) {fail_sum = fail_sum + count;});
						
						var ctx_fail = document.getElementById('screen_fail_chart').getContext('2d');
						var fail_chart = new Chart(ctx_fail, {
							type: 'bar',
							data: {
								labels: fail_labels,
								datasets: [{
									label: 'Screening Failures',
									data: fail_counts,
									borderColor: 'rgba(13, 127, 133, 1)',
									backgroundColor: 'rgba(13, 127, 133, 1)',
									borderWidth: 1
								}]
							},
							options: {
								title: {
									display: true,
									fontSize: 24,
									fontStyle: 'normal',
									text: 'Total Excluded; n=' + fail_sum
								},
								scales: {
									xAxes: [{
										ticks: {
											fontColor: '#8c4cbc',
											fontSize: 18,
											fontStyle: 'bold'
										}
									}],
									yAxes: [{
										ticks: {
											beginAtZero: true
										}
									}]
								}
							}
						});
					</script>
				</div>
			</div>
		</div>
	</div>
	<div id="links">
		{# blue bar #}
		<div class="blue_bar"></div>
		<button class="close-folder btn btn-info">Return to folders</button>
		<div class="row links">
			{% for link in helpfulLinks %}
				<div class="card" data-folder-index="{{ link.folder_index }}">
					<div class="row" style="align-items: center;">
						<div class="rank">
							<span>#{{ loop.index }}</span>
						</div>
						<h1 class="link_display">{{ link.display }}</h1>
					</div>
					<div class="row" style="margin: 12px 0px;">
						<a href="{{ link.url }}"class="link_url">{{ link.url }}</a>
					</div>
					<div class="row" style="align-items: center;">
						<button class="clipboard"><img src="{{ clipboardImageSource }}"></button>
						<small>Copy URL to clipboard</small>
					</div>
				</div class="card">
			{% endfor %}
		</div>
		<div class="row folders" style="justify-content: center;">
			{% for folder in helpfulLinkFolders %}
				<div class="folder" data-index="{{ loop.index }}">
					<img src="{{ folderImageSource }}" alt="Folder of links named '{{ folder.name }}'" style="background: {{folder.color}};"/>
					<div class="centered">
						<p>{{ folder.name }}</p>
						<p>{{ folder.linkCount }} Links</p>
					</div>
				</div>
			{% endfor %}
			{% if helpfulLinkFolders is empty %}
				<h3>There are no links to show at the moment</h3>
				<small>Check back soon to find a list of helpful resources!</small>
			{% endif %}
		</div>
	</div>
	<div id="activation">
		{# blue bar #}
		<div class="blue_bar"></div>
		<div id="activation_sites">
			{% for error in siteStartupData.errors %}
				{% if not error.dag %}
					<div class="errors_without_dag alert alert-{{ error.class }}" role="alert">
						{{ error.text }}
					</div>
				{% endif %}
			{% endfor %}
			<div class="row">
				<div class="dropdown active-site-select">
					<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Select a site
					</button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						{% for site in siteStartupData.sites %}
						<a class="dropdown-item" href="#">{{ site.site_number }} - {{ site.record_id }}</a>
						{% endfor %}
					</div>
				</div>
				{% if siteCompletionData %}
					<button class="btn btn-primary active-site-select" style="margin-left:30px" onclick="$('#activation_completion_report').show();$('#activation_sites').hide();">View Site Completion Report</button>
				{% endif %}
			</div>
			<div class="row">
				{% for site in siteStartupData.sites %}
				<div data-rid="{{ site.record_id }}" class="activation-container">
					{% for error in siteStartupData.errors %}
						{% if error.dag == site.redcap_data_access_group %}
							<div class="alert alert-{{ error.class }}" role="alert">
								{{ error.text }}
							</div>
						{% endif %}
					{% endfor %}
					<h2>{{ site.site_number }} - {{ site.record_id }}</h2>
					<p>Vanguard: <b>{{ site.selected_vanguard }}</b>&nbsp;&nbsp;&nbsp;&nbsp;Biomarker: <b>{{ site.site_selected_biomarker }}</b></p>
					<div class="ref_fields">
						<span data-field-name="cv_review_vcc">{{ site.cv_review_vcc }}</span>
						<span data-field-name="doa_vcc_review">{{ site.doa_vcc_review }}</span>
						<span data-field-name="license_review_vcc">{{ site.license_review_vcc }}</span>
						<span data-field-name="fin_dis_review_vcc">{{ site.fin_dis_review_vcc }}</span>
						<span data-field-name="handwrite_review_vcc">{{ site.handwrite_review_vcc }}</span>
						<span data-field-name="gcp_review_vcc">{{ site.gcp_review_vcc }}</span>
						<span data-field-name="citi_review_vcc">{{ site.citi_review_vcc }}</span>
						<span data-field-name="train_review_vcc">{{ sitetrain_review_vcccv_review_vcc }}</span>
					</div>
					<table class="table activation-tables">
						<tr>
							<td></td>
							<td></td>
							<td>Site Status for Category</td>
							<td>sIRB Survey Sent</td>
							<td>sIRB Survey Received</td>
							<td>sIRB Survey Accepted and Part 2 provided</td>
							<td>sIRB Survey Accepted and Part 2 provided</td>
							<td>Part 2 ICD Received Back from Site</td>
							<td>Part 2 ICD Reviewed by VCC</td>
							<td>Part 2 ICD Approved by VCC</td>
							<td>Institutional Profile Complete</td>
							<td>HRP Survey Complete</td>
							<td>PI Survey Complete</td>
							<td>sIRB Site Add Ready</td>
							<td>sIRB Site Add</td>
						</tr>
						<tr class="data">
							<td></td>
							<td>sIRB Status</td>
							<td>{{ site.sirb_status }}</td>
							<td>{{ site.vcc_survey_sent }}</td>
							<td>{{ site.vcc_survey_received }}</td>
							<td>{{ site.vcc_survey_accepted }}</td>
							<td>{{ site.vcc_survey_accepted }}</td>
							<td>{{ site.vcc_pt2_received }}</td>
							<td>{{ site.vcc_pt2_reviewed }}</td>
							<td>{{ site.vcc_pt2_approved }}</td>
							<td>{{ site.institutional_profile_complete }}</td>
							<td>{{ site.hrp_agreement }}</td>
							<td>{{ site.pi_survey }}</td>
							<td>{{ site.site_add_ready }}</td>
							<td>{{ site.site_add }}</td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td>Template Sent</td>
							<td>Partially Executed</td>
							<td>Fully Executed</td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
						</tr>
						<tr class="data">
							<td></td>
							<td>Contract</td>
							<td>{{ site.sirb_status_2 }}</td>
							<td>{{ site.template_sent }}</td>
							<td>{{ site.contract_pe }}</td>
							<td>{{ site.contract_fe }}</td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td>1572</td>
							<td>IB Acknowledgement</td>
							<td>Laboratory Documents</td>
							<td>Protocol Signature Page</td>
							<td>sIRB Approval</td>
							<td>Site Address/Contact Information</td>
							<td>User Access Form</td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
						</tr>
						<tr class="data">
							<td></td>
							<td>Site Documents</td>
							<td>{{ site.ctom_site_docs_approve }}</td>
							<td>{{ site.doc_1572 }}</td>
							<td>{{ site.ib_ack }}</td>
							<td>{{ site.lab_docs }}</td>
							<td>{{ site.psp_signed }}</td>
							<td>{{ site.sirb_approved }}</td>
							<td>{{ site.site_info_confirm }}</td>
							<td>{{ site.ua_received }}</td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td class="null"></td>
							<td>CV</td>
							<td>DOA</td>
							<td>License</td>
							<td>Financial Disclosure</td>
							<td>Handwriting Profile</td>
							<td>Good Clinical Practice Training</td>
							<td>Human Subjects Protection Training</td>
							<td>Site Related Training</td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
						</tr>
						<tr class="data">
							<td></td>
							<td>PI Documents</td>
							<td class="null"></td>
							<td class="{{ site.pi.cv.class }}">{{ site.pi.cv.value }}</td>
							<td class="{{ site.pi.doa.class }}">{{ site.pi.doa.value }}</td>
							<td class="{{ site.pi.license.class }}">{{ site.pi.license.value }}</td>
							<td class="{{ site.pi.fdf.class }}">{{ site.pi.fdf.value }}</td>
							<td class="{{ site.pi.hand_prof.class }}">{{ site.pi.hand_prof.value }}</td>
							<td class="{{ site.pi.gcp.class }}">{{ site.pi.gcp.value }}</td>
							<td class="{{ site.pi.hsp.class }}">{{ site.pi.hsp.value }}</td>
							<td class="{{ site.pi.training.class }}">{{ site.pi.training.value }}</td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td class="null"></td>
							<td>CV</td>
							<td>DOA</td>
							<td>License</td>
							<td>Financial Disclosure</td>
							<td>Handwriting Profile</td>
							<td>Good Clinical Practice Training</td>
							<td>Human Subjects Protection Training</td>
							<td>Site Related Training</td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
						</tr>
						<tr class="data">
							<td></td>
							<td>Primary Coordinator</td>
							<td class="null"></td>
							<td class="{{ site.primary_coordinator.cv.class }}">{{ site.primary_coordinator.cv.value }}</td>
							<td class="{{ site.primary_coordinator.doa.class }}">{{ site.primary_coordinator.doa.value }}</td>
							<td class="{{ site.primary_coordinator.license.class }}">{{ site.primary_coordinator.license.value }}</td>
							<td class="{{ site.primary_coordinator.fdf.class }}">{{ site.primary_coordinator.fdf.value }}</td>
							<td class="{{ site.primary_coordinator.hand_prof.class }}">{{ site.primary_coordinator.hand_prof.value }}</td>
							<td class="{{ site.primary_coordinator.gcp.class }}">{{ site.primary_coordinator.gcp.value }}</td>
							<td class="{{ site.primary_coordinator.hsp.class }}">{{ site.primary_coordinator.hsp.value }}</td>
							<td class="{{ site.primary_coordinator.training.class }}">{{ site.primary_coordinator.training.value }}</td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td class="null"></td>
							<td>CV</td>
							<td>DOA</td>
							<td>License</td>
							<td class="null"></td>
							<td class="null"></td>
							<td>Good Clinical Practice Training</td>
							<td>Human Subjects Protection Training</td>
							<td>Site Related Training</td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
						</tr>
						<tr class="data">
							<td></td>
							<td>Pharmacist</td>
							<td class="null"></td>
							<td class="{{ site.primary_dispensing_pharmacist.cv.class }}">{{ site.primary_dispensing_pharmacist.cv.value }}</td>
							<td class="{{ site.primary_dispensing_pharmacist.doa.class }}">{{ site.primary_dispensing_pharmacist.doa.value }}</td>
							<td class="{{ site.primary_dispensing_pharmacist.license.class }}">{{ site.primary_dispensing_pharmacist.license.value }}</td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="{{ site.primary_dispensing_pharmacist.gcp.class }}">{{ site.primary_dispensing_pharmacist.gcp.value }}</td>
							<td class="{{ site.primary_dispensing_pharmacist.hsp.class }}">{{ site.primary_dispensing_pharmacist.hsp.value }}</td>
							<td class="{{ site.primary_dispensing_pharmacist.training.class }}">{{ site.primary_dispensing_pharmacist.training.value }}</td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
						</tr>
						<tr class="data">
							<td></td>
							<td>Site Activated</td>
							<td>{{ site.start_to_finish_duration }}</td>
							<td>{{ site.open_date }}</td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
							<td class="null"></td>
						</tr>
					</table>
				</div>
				{% endfor %}
			</div>
		</div>
		{% if siteCompletionData %}
		<div id="activation_completion_report" style="display:none">
			<div class="row">
				<button class="btn btn-primary" style="margin:10px" onclick="$('#activation_completion_report').hide();$('#activation_sites').show();">Return to Site Details</button>
			</div>
			<table class='dashboard sortable'>
				<thead>
					<tr>
						<th>Site</th>
						{% for area,areaDetails in siteCompletionData|first %}
							<th>{{ area }}</th>
						{% endfor %}
						<th>Total Completion</th>
					</tr>
				</thead>
				<tbody>
					{% for siteName,thisSite in siteCompletionData %}
						<tr>
							{% set totalPercent = 0 %}
							<td>{{ siteName }}</td>
							{% for thisArea in thisSite %}
								{% set totalPercent = totalPercent + thisArea["percent"] %}
								<td>{{ thisArea["percent"] }}%</td>
							{% endfor %}
							<td>{{ (totalPercent / thisSite|length)|round }}%</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		{% endif %}
	</div>
</div>

{# enrollment chart js script below: #}
<script>
	var week_labels = [
		{% for row in enrollmentChart.rows|slice(0,-1) %}
			'{{ row.0 }}',
		{% endfor %}
	];
	var data1 = [
		{% for row in enrollmentChart.rows|slice(0,-1) %}
			{{ row.1 }},
		{% endfor %}
	];
	var data2 = [
		{% for row in enrollmentChart.rows|slice(0,-1) %}
			{{ row.2 }},
		{% endfor %}
	];
	var ctx = document.getElementById('enrollment_chart').getContext('2d');
	var enrollment_chart = new Chart(ctx, {
		type: 'bar',
		data: {
			labels: week_labels,
			datasets: [{
				label: 'Participants Enrolled',
				data: data1,
				borderColor: 'rgba(13, 127, 133, 1)',
				borderWidth: 2,
				type: 'line',
				datalabels: {
					anchor: 'center'
				}
			},{
				label: 'Cumulative Enrollments',
				data: data2,
				backgroundColor: 'rgba(180, 199, 231, 1)',
				borderWidth: 1,
				datalabels: {
					offset: 12
				}
			}]
		},
		options: {
			title: {
				display: true,
				fontSize: 24,
				fontStyle: 'normal',
				text: 'Enrollments By Week'
			},
			scales: {
				yAxes: [{
					ticks: {
						beginAtZero: true
					}
				}]
			},
			responsive: true,
			responsiveAnimationDuration: 50,
			maintainAspectRatio: false
		}
	});
</script>
{% endblock %}